body {
  margin : 0;
  padding : 0;
  background-color:darkslategray;
}
.calci{
    width: 500px;
    padding-top:100px;
    padding-bottom: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.25px;
    text-align: center;
    background-color:darkslategray;
    border:dashed 7px #82b74b;
    color:#41403E;
    font-size:2rem;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
#display{
    
    border:none;
    background:#e3eaa7;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border:2px solid white(5, 218, 255, 0.726);
    color: black;
    text-align: right;
}
.ButtonFrame{
    width: 55;
    height: 55;
    padding-top: -1;
    font-size: 20;
    border: none;
    background:#82b74b;
    font-family: sans-serif;
    font-weight: 300;
    border:0;
    border-radius: 30px;
    margin: 1.5;
    transition:1px;
    place-items: center;

}
.ButtonFrame:hover{
    color:crimson;
    background-color: darkgray;
}
#ZeroFrame{
    width: 110;
    height: 55;
    padding-top: -1;
    font-size: 20;
    border: none;
    background:#82b74b;
    font-family: sans-serif;
    font-weight: 300;
    border:0;
    border-radius: 30px;
    margin: 1.5;
    transition:0.25px;
    
    
}
h1 { background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
     letter-spacing: 1px;
     margin: 0 0 30px;
     padding: 10px 15px 8px;text-transform: uppercase; }
h2{ background: #fe921f;
        color: #ffffff;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 12px;
         letter-spacing: 1px;
         margin: 0 0 30px;
         padding: 10px 15px 8px;text-transform: uppercase;
 }
.date { background: #fe921f;
     color: #ffffff;
     display: inline-block;
     font-family: 'Lato', sans-serif;
     font-size: 12px;
     font-weight: bold;
     line-height: 12px;
      letter-spacing: 1px;
      margin: 0 0 30px;
      padding: 10px 15px 8px;text-transform: uppercase; }
.OperatorFrame{
    width: 55;
    height: 55;
    padding-top: -1;
    font-size: 20;
    text-align: center;
    color: black;
    border: none;
    background: #82b74b;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 30px;
    margin: 1.5;
    transition:0.25px;
    cursor:pointer;
}
.OperatorFrame:hover{
    background-color:darkgray; 
    color:crimson;
}